.root {
  background-color: rgb(var(--surface));
  min-height: 100vh;
  color: rgb(var(--on-surface));
}

.root__container {
  margin-left: 0 auto;
  max-width: 48rem /* 768px */;
  padding: 0 1rem /* 16px */;
}
@media (min-width: 640px) {
  .root__container {
    padding: 0 1.5rem /* 24px */;
  }
}

@media (min-width: 1280px) {
  .root__container {
    max-width: 64rem /* 1024px */;
    padding: 0;
  }
}
