.chip {
  background-color: rgb(var(--secondary-container));
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-size: 0.875rem /* 14px */;
  font-weight: 500;
  color: rgb(var(--on-secondary-container));
  padding: 0.375rem /* 6px */ 0.75rem /* 12px */;
  border-radius: 9999px;
  text-transform: uppercase;
  gap: 0.5rem /* 8px */;
}

.chip__icon:last-child {
  margin-inline-end: -0.25rem/* -4px */;
}
.chip__icon:first-child {
  margin-inline-start: -0.25rem/* -4px */;
}
