.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem /* 16px */ 0;
}

.header__link {
  display: flex;
  justify-items: center;
}

.header__title {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 600;
  white-space: nowrap;
}

.header__logo {
  height: 2rem /* 32px */;
  margin-inline-end: 0.75rem /* 12px */;
}

.header__button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem /* 8px */;
  margin-inline-start: 0.75rem /* 12px */;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  border-radius: 0.5rem /* 8px */;
  color: rgb(var(--on-primary-container));

  &:hover {
    background-color: rgb(var(--primary-container));
  }

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(2px + var(--tw-ring-offset-width)) rgb(var(--on-primary-container));
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
      var(--tw-shadow, 0 0 #0000);
  }
}

@media (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__svg {
  width: 1.5rem /* 24px */;
  height: 1.5rem /* 24px */;
}

.header__container {
  width: 100%;

  &.header__container--hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__container {
    display: block;
    width: auto;
  }
}

.button__name {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
