.navigation-link {
  display: block;
  padding: 0.5rem /* 8px */ 0.75rem /* 12px */;
  border-radius: 0.25rem /* 4px */;
}

.navigation-link:hover {
  background-color: rgb(var(--surface-variant));
  color: rgb(var(--on-surface-variant));
}

.navigation-link--active:hover,
.navigation-link--active {
  background-color: rgb(var(--primary));
  color: rgb(var(--surface));
}


 

@media (min-width: 768px) {
  .navigation-link--active {
    color: rgb(var(--primary));
    background-color: transparent;
  }

  
  .navigation-link:hover {
    color: rgb(var(--primary));
    background-color: transparent;
  }

  
  .navigation-link {
    padding: 0px;
  }
}
